*.pyc
nextflow
samples.analysis.tsv
samples.tumor.normal.csv
*.dot
fastq
bin/multiqc-activate
bin/multiqc-venv/
ref
.DS_Store
containers/ngs580-variant-calling/annotate_vcf.sh
*.img
NGS580-demo-data/
old
annovar
annovar_db/
flowchart-NGS580.png
.nextflow/
work/
output/
annovar_db
trace-NGS580.txt
bin/annotate_variation.pl
bin/annovar*
bin/convert2annovar.pl
.vagrant*
Vagrantfile*
singularity.images.old*
.vagrant
containers/*/old.*
meta.tsv
*.Rdata
*.html
output
*.png
.gitignore
.Rproj.user
main_files
*.tex
*.pdf
qsub-logs/
report/analysis/input
logs
pid.txt
Miniconda3-*.sh
.nextflow.log
