// default configs for all pipelines; overrides per-pipeline configs
params.workflow_label = "NGS580"

manifest {
    author = 'Stephen Kelly'
    homePage = 'https://github.com/NYU-Molecular-Pathology/NGS580-nf'
    description = 'NGS580 target exome analysis for 580 gene panel'
    mainScript = 'main.nf'
}

// NEXTFLOW SETTINGS
report {
    enabled = true
    file = "nextflow-${params.workflow_label}.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace-${params.workflow_label}.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-${params.workflow_label}.html"
}

username = System.getProperty("user.name")
params.username = username
params.email_host = "nyumc.org"
params.email_from = "${username}@${params.email_host}"
params.email_to = "${username}@${params.email_host}"
params.pipeline_email = true

notification {
    enabled = params.pipeline_email
    to = "${params.email_to}"
    from = "${params.email_from}"
}



// params.ANNOVAR_DIR = "annovar"
// params.ANNOVAR_DB_DIR = "annovar_db"
// params.ANNOVAR_PROTOCOL = "refGene,1000g2015aug_all,clinvar_20170905,intervar_20170202,dbnsfp33a,esp6500siv2_all,kaviar_20150923,gnomad_exome,gnomad_genome,avsnp150,fathmm,eigen"
// params.ANNOVAR_OPERATION ="g,f,f,f,f,f,f,f,f,f,f,f"
params.ANNOVAR_BUILD_VERSION ="hg19"
params.ANNOVAR_dbSNP_COLNAME = "dbSNP_147"

params.ANNOVAR_PROTOCOL = "refGene,dbnsfp33a,cosmic70"
params.ANNOVAR_OPERATION ="g,f,f"




env {
    ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
    ANNOVAR_OPERATION = params.ANNOVAR_OPERATION
    ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
    ANNOVAR_dbSNP_COLNAME = params.ANNOVAR_dbSNP_COLNAME
}


// PROCESSES VALUES
params.beforeScript_str = 'printf "USER:\${USER:-none} JOB_ID:\${JOB_ID:-none} JOB_NAME:\${JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD\n"; TIMESTART=\$(date +%s)'
params.afterScript_str = 'printf "elapsed time: %s\n" \$((\$(date +%s) - \${TIMESTART:-0}))'

process.beforeScript = "${params.beforeScript_str}"
process.afterScript = "${params.afterScript_str}"

params.trimmomatic_path_cmd = 'export PATH="/ifs/data/sequence/results/external/NYU/snuderllab/bin/trimmomatic/0.33:\${PATH}"'
params.sambamba_path_cmd = 'export PATH="/ifs/data/sequence/results/external/NYU/snuderllab/bin/sambamba:\${PATH}"'
params.gatk_path_cmd = 'export PATH="/ifs/data/molecpathlab/bin/GenomeAnalysisTK-3.8-0:\${PATH}"'
params.lofreq_path_cmd = 'export PATH="/ifs/data/sequence/results/external/NYU/snuderllab/bin/lofreq/lofreq_star-2.1.2/bin:\${PATH}"'
params.msisensor_path_cmd = 'export PATH="/ifs/data/molecpathlab/bin/msisensor:\${PATH}"'
params.delly_path_cmd = 'export PATH="/ifs/home/kellys04/software/delly/src:/ifs/home/kellys04/software/delly/src/bcftools:\${PATH}"'


params.msisensor_disable = true

params.cpus_num_big = 16
params.cpus_num_mid = 8
params.cpus_num_small = 4

profiles {
    standard { // phoenix2 default config
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-cwd'
        executor.queueSize = 150

        env.ANNOVAR_DIR = "/ifs/data/molecpathlab/bin/annovar"
        params.ANNOVAR_DB_DIR = "/ifs/data/molecpathlab/bin/annovar/db/hg19"
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        env.ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
        env.ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
        env.ANNOVAR_OPERATION = params.ANNOVAR_OPERATION

        params.multiqc_makefile = new File("bin/multiqc.makefile").getCanonicalPath()
        params.multiqc_requirements_txt = new File("bin/multiqc.requirements.txt").getCanonicalPath()

        // params.multiqc_setup_cmd = "make -f ${params.multiqc_makefile} setup REQ_FILE=${params.multiqc_requirements_txt} ; export PS=\${PS:-''} ; export PS1=\${PS1:-''} ; unset PYTHONPATH ; source multiqc-venv/bin/activate"
        params.multiqc_setup_cmd = "module unload python ; unset PYTHONPATH ; unset PYTHONHOME ; source /ifs/data/molecpathlab/bin/conda3/bin/activate ; export LANG=en_US.utf8 ; export LC_ALL=en_US.utf8 "

        params.sambamba_mem_limit = "8GB"

        process.$fastqc_trim.module = "fastqc/0.11.7"
        process.$bwa_mem.module = 'bwa/0.7.17'
        process.$sambamba_dedup.module = "samtools/1.3"
        process.$bam_ra_rc_gatk.module = "samtools/1.3"
        process.$pad_bed.module = 'bedtools/2.26.0'
        process.$lofreq.module = 'samtools/1.3'
        process.$gatk_hc.module = 'samtools/1.3'
        process.$msisensor.module = 'samtools/1.3'
        process.$mutect2.module = 'samtools/1.3:java/1.8'
        // process.$mutect2.module = 'java/1.8'
        // process.$multiqc.module = 'python/2.7.3'

        process.$trimmomatic.beforeScript = "${params.beforeScript_str} ; ${params.trimmomatic_path_cmd}"
        process.$sambamba_view_sort.beforeScript = "${params.beforeScript_str} ; ${params.sambamba_path_cmd}"
        process.$sambamba_flagstat.beforeScript = "${params.beforeScript_str} ; ${params.sambamba_path_cmd}"
        process.$sambamba_dedup.beforeScript = "${params.beforeScript_str} ; ${params.sambamba_path_cmd}"
        process.$sambamba_dedup_flagstat.beforeScript = "${params.beforeScript_str} ; ${params.sambamba_path_cmd}"

        process.$qc_target_reads_gatk_genome.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$qc_target_reads_gatk_pad500.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$qc_target_reads_gatk_pad100.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$qc_target_reads_gatk_bed.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$bam_ra_rc_gatk.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$qc_coverage_gatk.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$mutect2.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$gatk_hc.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd}"
        process.$lofreq.beforeScript = "${params.beforeScript_str} ; ${params.gatk_path_cmd} ; ${params.lofreq_path_cmd}"

        process.$delly2.beforeScript = "${params.beforeScript_str} ; ${params.delly_path_cmd}"
        process.$delly2_deletions.beforeScript = "${params.beforeScript_str} ; ${params.delly_path_cmd}"
        process.$delly2_duplications.beforeScript = "${params.beforeScript_str} ; ${params.delly_path_cmd}"
        process.$delly2_inversions.beforeScript = "${params.beforeScript_str} ; ${params.delly_path_cmd}"
        process.$delly2_translocations.beforeScript = "${params.beforeScript_str} ; ${params.delly_path_cmd}"
        process.$delly2_insertions.beforeScript = "${params.beforeScript_str} ; ${params.delly_path_cmd}"
        process.$msisensor.beforeScript = "${params.beforeScript_str} ; ${params.msisensor_path_cmd}"
        process.$multiqc.beforeScript = "${params.beforeScript_str} ; ${params.multiqc_setup_cmd}"
        process.$annotate.beforeScript = "${params.beforeScript_str} ; export PATH=/ifs/data/molecpathlab/bin/annovar:\$PATH"
        process.$annotate_pairs.beforeScript = "${params.beforeScript_str} ; export PATH=/ifs/data/molecpathlab/bin/annovar:\$PATH"


        process.$trimmomatic.clusterOptions = "-pe threaded 1-${params.cpus_num_mid} -l mem_free=40G -l mem_token=5G"
        process.$bwa_mem.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=4G"
        process.$sambamba_view_sort.clusterOptions = "-pe threaded 1-${params.cpus_num_mid} -l mem_free=40G -l mem_token=4G"
        process.$sambamba_dedup.clusterOptions = "-pe threaded 1-${params.cpus_num_mid} -l mem_free=40G -l mem_token=4G"
        process.$qc_target_reads_gatk_genome.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=5G"
        process.$qc_target_reads_gatk_pad500.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=5G"
        process.$qc_target_reads_gatk_pad100.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=5G"
        process.$qc_target_reads_gatk_bed.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=5G"
        process.$bam_ra_rc_gatk.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=4G"
        process.$qc_coverage_gatk.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=5G"
        process.$lofreq.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=4G"
        process.$gatk_hc.clusterOptions = "-pe threaded ${params.cpus_num_small}-${params.cpus_num_big} -l mem_free=40G -l mem_token=4G"
        process.$msisensor.clusterOptions = "-pe threaded 1-${params.cpus_num_mid} -l mem_free=40G -l mem_token=5G"
        process.$mutect2.clusterOptions = "-l mem_free=40G -l mem_token=40G -hard"

    }

    headnode { // phoenix2 head node for Singularity testing
        process.executor = 'local'
        executor.queueSize = 2
        params.sambamba_mem_limit = "8GB"
        singularity.enabled = true
        process.module = "singularity/2.4.2"

        env.ANNOVAR_DIR = "/ifs/data/molecpathlab/bin/annovar"
        env.ANNOVAR_DB_DIR = "/ifs/data/molecpathlab/bin/annovar/db/hg19"
        env.ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
        env.ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
        env.ANNOVAR_OPERATION = params.ANNOVAR_OPERATION

        params.container_dir = "/ifs/data/molecpathlab/containers/Singularity"

        params.bedtools_container = "${params.container_dir}/bedtools-2.26.0/stevekm_ngs580-nf_bedtools-2.26.0-2018-03-16-89bb629bf549.img"
        params.bwa_container = "${params.container_dir}/bwa-0.7.17/stevekm_ngs580-nf_bwa-0.7.17-2018-03-16-3ed0de18d226.img"
        params.fastqc_container = "${params.container_dir}/fastqc-0.11.7/stevekm_ngs580-nf_fastqc-0.11.7-2018-03-16-060400f59bab.img"
        params.msisensor_container = "${params.container_dir}/msisensor-0.2/stevekm_ngs580-nf_msisensor-0.2-2018-03-16-6b8b985b4e9c.img"
        params.multiqc_container = "${params.container_dir}/multiqc-1.4/stevekm_ngs580-nf_multiqc-1.4-2018-03-16-7de0fa606cbf.img"
        params.sambamba_container = "${params.container_dir}/sambamba-0.6.6/stevekm_ngs580-nf_sambamba-0.6.6-2018-03-16-819302d7452d.img"
        params.trimmomatic_container = "${params.container_dir}/trimmomatic-0.36/stevekm_ngs580-nf_trimmomatic-0.36-2018-03-15-d75579d18b70.img"
        params.variant_calling_container = "${params.container_dir}/variant-calling-0.0.2/stevekm_ngs580-nf_variant-calling-0.0.2-2018-03-16-0cbe57c9c8da.img"
        params.R_container = "${params.container_dir}/R-3.3.2/stevekm_ngs580-nf_R-3.3.2-2018-03-16-b3bacf0d733a.img"

        process.$sambamba_view_sort.container = "${params.sambamba_container}"
        process.$sambamba_flagstat.container = "${params.sambamba_container}"
        process.$sambamba_dedup.container = "${params.sambamba_container}"
        process.$sambamba_dedup_flagstat.container = "${params.sambamba_container}"
        process.$qc_target_reads_gatk_genome.container = "${params.variant_calling_container}"
        process.$qc_target_reads_gatk_pad500.container = "${params.variant_calling_container}"
        process.$qc_target_reads_gatk_pad100.container = "${params.variant_calling_container}"
        process.$qc_target_reads_gatk_bed.container = "${params.variant_calling_container}"
        process.$bam_ra_rc_gatk.container = "${params.variant_calling_container}"
        process.$qc_coverage_gatk.container = "${params.variant_calling_container}"
        process.$pad_bed.container = "${params.bedtools_container}"
        process.$lofreq.container = "${params.variant_calling_container}"
        process.$gatk_hc.container = "${params.variant_calling_container}"
        process.$delly2_deletions.container = "${params.delly2_container}"
        process.$delly2_duplications.container = "${params.delly2_container}"
        process.$delly2_inversions.container = "${params.delly2_container}"
        process.$delly2_translocations.container = "${params.delly2_container}"
        process.$delly2_insertions.container = "${params.delly2_container}"
        process.$deconstructSigs_signatures.container = "${params.R_container}"
        process.$vaf_distribution_plot.container = "${params.R_container}"
        process.$msisensor.container = "${params.msisensor_container}"
        process.$mutect2.container = "${params.variant_calling_container}"
        process.$multiqc.container = "${params.multiqc_container}"
    }

    local {
        process.executor = 'local'
        executor.queueSize = 2
        docker.enabled = true
        params.docker_threads = 2

        params.ANNOVAR_DIR = new File("annovar").getCanonicalPath()
        params.ANNOVAR_DB_DIR = new File("annovar_db").getCanonicalPath()

        env.ANNOVAR_DIR = params.ANNOVAR_DIR
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        env.ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
        env.ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
        env.ANNOVAR_OPERATION = params.ANNOVAR_OPERATION

        params.sambamba_mem_limit = "2GB"

        params.bedtools_container = "stevekm/ngs580-nf:bedtools-2.26.0"
        params.bwa_container = "stevekm/ngs580-nf:bwa-0.7.17"
        params.fastqc_container = "stevekm/ngs580-nf:fastqc-0.11.7"
        params.msisensor_container = "stevekm/ngs580-nf:msisensor-0.2"
        params.multiqc_container = "stevekm/ngs580-nf:multiqc-1.4"
        params.sambamba_container = "stevekm/ngs580-nf:sambamba-0.6.6"
        params.trimmomatic_container = "stevekm/ngs580-nf:trimmomatic-0.36"
        params.variant_calling_container = "stevekm/ngs580-nf:variant-calling-0.0.2"
        params.R_container = "stevekm/ngs580-nf:R-3.3.2"
        params.delly2_container = "stevekm/ngs580-nf:delly2-0.7.7"

        process.$trimmomatic.container = "${params.trimmomatic_container}"
        process.$fastqc_trim.container = "${params.fastqc_container}"
        process.$bwa_mem.container = "${params.bwa_container}"

        process.$sambamba_view_sort.container = "${params.sambamba_container}"
        process.$sambamba_flagstat.container = "${params.sambamba_container}"
        process.$sambamba_dedup.container = "${params.sambamba_container}"
        process.$sambamba_dedup_flagstat.container = "${params.sambamba_container}"
        process.$qc_target_reads_gatk_genome.container = "${params.variant_calling_container}"
        process.$qc_target_reads_gatk_pad500.container = "${params.variant_calling_container}"
        process.$qc_target_reads_gatk_pad100.container = "${params.variant_calling_container}"
        process.$qc_target_reads_gatk_bed.container = "${params.variant_calling_container}"
        process.$bam_ra_rc_gatk.container = "${params.variant_calling_container}"
        process.$qc_coverage_gatk.container = "${params.variant_calling_container}"
        process.$pad_bed.container = "${params.bedtools_container}"
        process.$lofreq.container = "${params.variant_calling_container}"
        process.$gatk_hc.container = "${params.variant_calling_container}"
        process.$delly2_deletions.container = "${params.delly2_container}"
        process.$delly2_duplications.container = "${params.delly2_container}"
        process.$delly2_inversions.container = "${params.delly2_container}"
        process.$delly2_translocations.container = "${params.delly2_container}"
        process.$delly2_insertions.container = "${params.delly2_container}"
        process.$deconstructSigs_signatures.container = "${params.R_container}"
        process.$vaf_distribution_plot.container = "${params.R_container}"
        process.$msisensor.container = "${params.msisensor_container}"
        process.$mutect2.container = "${params.variant_calling_container}"
        process.$multiqc.container = "${params.multiqc_container}"

        process.$trimmomatic.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$bwa_mem.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$sambamba_view_sort.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$sambamba_dedup.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$qc_target_reads_gatk_genome.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$qc_target_reads_gatk_pad500.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$qc_target_reads_gatk_pad100.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$qc_target_reads_gatk_bed.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$bam_ra_rc_gatk.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$lofreq.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$gatk_hc.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
        process.$msisensor.beforeScript = "${params.beforeScript_str} ; export NTHREADS=${params.docker_threads}"
    }

    power { // profile for Power8 / Power9 execution
        process.executor = 'local'
        // process.executor = 'lsf'
        // process.queue = 'all.q'
        // process.clusterOptions = '-cwd'
        executor.queueSize = 5

        // env.ANNOVAR_DIR = "/home/kellys04/projects/NGS580-nf/annovar"
        // env.ANNOVAR_DB_DIR = "/home/kellys04/projects/NGS580-nf/annovar_db"
        params.ANNOVAR_DIR = new File("bin/annovar").getCanonicalPath()
        params.ANNOVAR_DB_DIR = new File("annovar_db").getCanonicalPath()

        env.ANNOVAR_DIR = params.ANNOVAR_DIR
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        env.ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
        env.ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
        env.ANNOVAR_OPERATION = params.ANNOVAR_OPERATION

        params.sambamba_mem_limit = "8GB"

        // CPU allocations
        process.$trimmomatic.cpus = params.cpus_num_mid
        process.$bwa_mem.cpus = params.cpus_num_mid
        process.$sambamba_view_sort.cpus = params.cpus_num_mid
        process.$sambamba_dedup.cpus = params.cpus_num_mid
        process.$qc_target_reads_gatk_genome.cpus = params.cpus_num_mid
        process.$qc_target_reads_gatk_pad500.cpus = params.cpus_num_mid
        process.$qc_target_reads_gatk_pad100.cpus = params.cpus_num_mid
        process.$qc_target_reads_gatk_bed.cpus = params.cpus_num_mid
        process.$bam_ra_rc_gatk.cpus = params.cpus_num_mid
        process.$qc_coverage_gatk.cpus = params.cpus_num_mid
        process.$lofreq.cpus = params.cpus_num_mid
        process.$gatk_hc.cpus = params.cpus_num_mid
        process.$msisensor.cpus = params.cpus_num_mid
        // process.$mutect2.clusterOptions = '-l mem_free=150G -hard'

        // beforeScript setup per process
        // Miniconda configs
        // full Biobuilds channel env
        params.miniconda_env_str = "source /shared/miniconda2/bin/activate /shared/biobuilds-2017.11"

        // custom per-tool Miniconda install
        params.custom_miniconda = "source /shared/miniconda3/bin/activate"
        params.bedtools_env = "${params.custom_miniconda} bedtools-2.26.0"
        params.bwa_env = "${params.custom_miniconda} bwa-0.7.17"
        params.fastqc_env = "${params.custom_miniconda} fastqc-0.11.5"
        // params.msisensor_env = "${params.custom_miniconda} ..... "
        // params.multiqc_env = "${params.custom_miniconda} ....."
        params.sambamba_env = "${params.custom_miniconda} sambamba-0.6.6"
        params.trimmomatic_env = "${params.custom_miniconda} trimmomatic-0.36"
        params.variant_calling_env = "${params.custom_miniconda} variant-calling-0.0.2"
        // params.R_env = "${params.custom_miniconda} ....."
        params.delly2_env = "${params.custom_miniconda} delly2-0.7.6"

        // gatk.sh location for version 3.8-0-ge9d806836
        params.gatk_path_cmd = 'export PATH="/shared/GATK-P9:\${PATH}"'

        // trimmomatic.sh location
        params.trimmomatic_path_cmd = 'export PATH="/shared/biobuilds-2017.11/libexec/trimmomatic-0.36:\${PATH}"'


        process.beforeScript = "${params.beforeScript_str} ; ${params.miniconda_env_str}"


        process.$trimmomatic.beforeScript = "${process.beforeScript} ; ${params.trimmomatic_path_cmd} ; export NTHREADS=${process.$trimmomatic.cpus} ; ${params.miniconda_env_str}"
        process.$bwa_mem.beforeScript = "${process.beforeScript} ; export NTHREADS=${process.$bwa_mem.cpus}"
        process.$qc_target_reads_gatk_genome.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$qc_target_reads_gatk_genome.cpus}"
        process.$qc_target_reads_gatk_pad500.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$qc_target_reads_gatk_pad500.cpus}"
        process.$qc_target_reads_gatk_pad100.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$qc_target_reads_gatk_pad100.cpus}"
        process.$qc_target_reads_gatk_bed.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$qc_target_reads_gatk_bed.cpus}"
        process.$bam_ra_rc_gatk.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$bam_ra_rc_gatk.cpus}"
        process.$qc_coverage_gatk.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$qc_coverage_gatk.cpus}"
        process.$gatk_hc.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; export NTHREADS=${process.$gatk_hc.cpus}"
        process.$lofreq.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd} ; ${params.lofreq_path_cmd} ; export NTHREADS=${process.$lofreq.cpus}"
        process.$sambamba_view_sort.beforeScript = "${process.beforeScript} ; export NTHREADS=${process.$sambamba_view_sort.cpus}"


        process.$mutect2.beforeScript = "${process.beforeScript} ; ${params.gatk_path_cmd}"

    }
}

// ANALYSIS LOCATIONS
params.targets_bed = "targets.bed"
params.probes_bed = "probes.bed"
params.samples_analysis_sheet = "samples.analysis.tsv"



// REFERENCE FILES
params.ref_dir = "ref"
params.ref_fa = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.ref_fa_bwa_dir = "${params.ref_dir}/BWA/hg19"
params.ref_fai = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
params.ref_dict = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict"
params.ref_chrom_sizes = "${params.ref_dir}/Illumina/hg19/chrom.sizes"
params.microsatellites = "${params.ref_dir}/msisensor/hg19/microsatellites.list"
params.trimmomatic_contaminant_fa = "${params.ref_dir}/contaminants/trimmomatic.fa"
params.gatk_bundle_dir = "${params.ref_dir}/gatk-bundle"
params.gatk_1000G_phase1_indels_hg19_vcf = "${params.gatk_bundle_dir}/1000G_phase1.indels.hg19.vcf"
params.mills_and_1000G_gold_standard_indels_hg19_vcf = "${params.gatk_bundle_dir}/Mills_and_1000G_gold_standard.indels.hg19.vcf"
params.dbsnp_ref_vcf = "${params.gatk_bundle_dir}/dbsnp_138.hg19.vcf"
params.cosmic_ref_vcf = "${params.ref_dir}/hg19/CosmicCodingMuts_v73.hg19.vcf"
