// default configs for all pipelines; overrides per-pipeline configs
params.workflow_label = "NGS580"
username = System.getProperty("user.name")
params.email_host = "nyumc.org"
params.email_from = "${username}@${params.email_host}"
params.email_to = "${username}@${params.email_host}"
params.pipeline_email = false

manifest {
    author = 'Stephen Kelly'
    homePage = 'https://github.com/NYU-Molecular-Pathology/NGS580-nf'
    description = 'NGS580 target exome analysis for 580 gene panel'
    mainScript = 'main.nf'
}

// NEXTFLOW SETTINGS
report {
    enabled = true
    file = "nextflow-${params.workflow_label}.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace-${params.workflow_label}.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-${params.workflow_label}.html"
}

notification {
    enabled = params.pipeline_email
    to = "${params.email_to}"
    from = "${params.email_from}"
}



params.ANNOVAR_DIR = "/ifs/data/molecpathlab/bin/annovar"
params.ANNOVAR_DB_DIR = "/ifs/data/molecpathlab/bin/annovar/db/hg19"
params.ANNOVAR_PROTOCOL = "refGene,1000g2015aug_all,clinvar_20170905,intervar_20170202,dbnsfp33a,esp6500siv2_all,kaviar_20150923,gnomad_exome,gnomad_genome,avsnp150,fathmm,eigen"
params.ANNOVAR_OPERATION ="g,f,f,f,f,f,f,f,f,f,f,f"
params.ANNOVAR_BUILD_VERSION ="hg19"
params.ANNOVAR_dbSNP_COLNAME = "dbSNP_147"

env {
    ANNOVAR_DIR = params.ANNOVAR_DIR
    ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
    ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
    ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
    ANNOVAR_OPERATION = params.ANNOVAR_OPERATION
}

params.num_cpus_mid = 4
params.num_cpus_lrg = 8


profiles {
    standard { // phoenix2
        process.executor = 'sge'
        process.queue = 'all.q'
        process.clusterOptions = '-cwd'
        executor.queueSize = 300

        env.ANNOVAR_DIR = params.ANNOVAR_DIR
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        env.ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
        env.ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
        env.ANNOVAR_OPERATION = params.ANNOVAR_OPERATION
    }

    local {
        process.executor = 'local'
        executor.queueSize = 1
        docker.enabled = true
        // docker.runOptions = "--memory=8g --oom-kill-disable"


        env.ANNOVAR_DIR = params.ANNOVAR_DIR
        env.ANNOVAR_DB_DIR = params.ANNOVAR_DB_DIR
        env.ANNOVAR_PROTOCOL = params.ANNOVAR_PROTOCOL
        env.ANNOVAR_BUILD_VERSION = params.ANNOVAR_BUILD_VERSION
        env.ANNOVAR_OPERATION = params.ANNOVAR_OPERATION

        params.bedtools_container = "stevekm/ngs580-nf:bedtools-2.26.0"
        params.bwa_container = "stevekm/ngs580-nf:bwa-0.7.17"
        params.fastqc_container = "stevekm/ngs580-nf:fastqc-0.11.7"
        params.msisensor_container = "stevekm/ngs580-nf:msisensor-0.2"
        params.multiqc_container = "stevekm/ngs580-nf:multiqc-1.4"
        params.sambamba_container = "stevekm/ngs580-nf:sambamba-0.6.6"
        params.trimmomatic_container = "stevekm/ngs580-nf:trimmomatic-0.36"
        params.variant_calling_container = "stevekm/ngs580-nf:variant-calling-0.0.1"

    }
}

// ANALYSIS LOCATIONS
params.targets_bed = "targets.bed"
params.probes_bed = "probes.bed"
params.samples_analysis_sheet = "samples.analysis.tsv"



// REFERENCE FILES
params.ref_dir = "ref"
params.ref_fa = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa"
params.ref_fa_bwa_dir = "${params.ref_dir}/BWA/hg19"
params.ref_fai = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.fa.fai"
params.ref_dict = "${params.ref_dir}/iGenomes/Homo_sapiens/UCSC/hg19/Sequence/WholeGenomeFasta/genome.dict"
params.ref_chrom_sizes = "${params.ref_dir}/Illumina/hg19/chrom.sizes"
params.microsatellites = "${params.ref_dir}/msisensor/hg19/microsatellites.list"
params.trimmomatic_contaminant_fa = "${params.ref_dir}/contaminants/trimmomatic.fa"
params.gatk_bundle_dir = "${params.ref_dir}/gatk-bundle"
params.gatk_1000G_phase1_indels_hg19_vcf = "${params.gatk_bundle_dir}/1000G_phase1.indels.hg19.vcf"
params.mills_and_1000G_gold_standard_indels_hg19_vcf = "${params.gatk_bundle_dir}/Mills_and_1000G_gold_standard.indels.hg19.vcf"
params.dbsnp_ref_vcf = "${params.gatk_bundle_dir}/dbsnp_138.hg19.vcf"
params.cosmic_ref_vcf = "${params.ref_dir}/hg19/CosmicCodingMuts_v73.hg19.vcf"


// BINARY DEPENDENCIES
params.bin_dir = "/ifs/data/sequence/results/external/NYU/snuderllab/bin"
params.trimmomatic_jar = "${params.bin_dir}/trimmomatic/0.33/trimmomatic-0.33.jar"
params.sambamba_bin = "${params.bin_dir}/sambamba/sambamba_v0.6.7"
params.gatk_bin = "/ifs/data/molecpathlab/bin/GenomeAnalysisTK-3.8-0/GenomeAnalysisTK.jar"
params.lofreq_bin = "${params.bin_dir}/lofreq/lofreq_star-2.1.2/bin/lofreq"
params.msisensor_bin = "/ifs/data/molecpathlab/bin/msisensor/msisensor"
params.delly2_bin = "/ifs/home/kellys04/software/delly/src/delly"
params.delly2_bcftools_bin = '/ifs/home/kellys04/software/delly/src/bcftools/bcftools'
params.delly2_call_types = ["deletions":"DEL", "duplications":"DUP", "inversions":"INV", "translocations":"BND", "insertions":"INS"]


// PROCESSES VALUES
params.beforeScript_str = 'printf "USER:\${USER:-none} JOB_ID:\${JOB_ID:-none} JOB_NAME:\${JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD\n"; TIMESTART=\$(date +%s)'
params.afterScript_str = 'printf "elapsed time: %s\n" \$((\$(date +%s) - \${TIMESTART:-0}))'
